/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	font-family: 'Roboto', sans-serif;
}
body{
	background-image: url(../img/IMG_147607.png);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;


}
.img-responsive {
    width: 100%;
    height: auto;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #fff;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    height: 133px;
    margin: 5px;
    max-width: 169px;
    border: 2px solid #F93D32;
}
a.waves-effect.waves-light.btn:hover{
	background-color: #FDCC2F;
}
.modal .modal-content {
    text-align: center;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
h2{
	font-size: 18px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	background-color: salmon;
	color: #fff;
}
p{
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	text-transform:capitalize;
	background-color: bisque;

}
.btn-flat {
    margin: 6px 0;
    font-family: 'Roboto';
    background-color: coral;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
}
h1.titulo {
    font-size: 45px;
    margin: 18px;
    text-align: center;
    color: #FDCC2F;
 
}
h1.titulo
{
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #0F70A9,
         0px -1px 0px #0F70A9,
         1px -1px 0px #0F70A9,
        -1px  0px 0px #0F70A9,
         1px  0px 0px #0F70A9,
        -1px  1px 0px #0F70A9,
         0px  1px 0px #0F70A9,
         1px  1px 0px #0F70A9,
        /* second layer at 2px */
        -2px -2px 0px #0F70A9,
        -1px -2px 0px #0F70A9,
         0px -2px 0px #0F70A9,
         1px -2px 0px #0F70A9,
         2px -2px 0px #0F70A9,
         2px -1px 0px #0F70A9,
         2px  0px 0px #0F70A9,
         2px  1px 0px #0F70A9,
         2px  2px 0px #0F70A9,
         1px  2px 0px #0F70A9,
         0px  2px 0px #0F70A9,
        -1px  2px 0px #0F70A9,
        -2px  2px 0px #0F70A9,
        -2px  1px 0px #0F70A9,
        -2px  0px 0px #0F70A9,
        -2px -1px 0px #0F70A9;
}

img{
	max-width: 120px;
	min-width: 120px;
}